<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/lib/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="list-group">
                    <a asp-action="UpdateUser" asp-controller="Panel" class="list-group-item list-group-item-action " aria-current="true">
                        Update my profile
                    </a>
                    <a asp-action="Index" asp-controller="Role" class="list-group-item list-group-item-action">Role Operations</a>
                    <a asp-action="UserList" asp-controller="Role" class="list-group-item list-group-item-action">User Operations</a>
                    <a asp-action="Index" asp-controller="Admin" class="list-group-item list-group-item-action">Admin Page</a>
                    <a asp-action="Index" asp-controller="Developer" class="list-group-item list-group-item-action">Developer Page</a>
                </div>
            </div>
            <div class="col-md-8">
                @RenderBody()
            </div>
        </div>
    </div>
</body>
</html>
